{% extends 'base.html' %}

{% block 'titulo' %} Cadastro {% endblock %}

{% block 'conteudo' %}
<div class=" container">

    <br>

        <div class="row">

            <div class="col-md-4" >
                <!--esta div esta vazia para centralizar o painel do cadastro -->
            </div>

            <div style="border: 1px solid black " class="col-md-4" >
                    <center><h2>Cadastre-se</h2></center>

                    <form method="POST"  action="">
                        <label class=""> Nome </label>
                        <input class="form-control" type="text" placeholder="Nome.......">

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>


                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="inputPassword6" class="col-form-label">Password</label>
                            </div>
                            <div class="col-auto">
                              <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                            <div class="col-auto">
                              <span id="passwordHelpInline" class="form-text">
                                Must be 8-20 characters long.
                              </span>
                            </div>
                          </div>
                          
                        
                        <input class="btn btn-info btn-lg" type=" submit" value="Enviar ">
                    </form>

            </div>

            <div class="col-md-4" >
                <!--esta div esta vazia para centralizar o painel do cadastro -->
            </div>

        </div>

</div>
{% endblock %}